<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>My Recipes</h1>
    <ul>
        <% @recipes.each do |recipe| %>
         <li>recipe_name: 
            <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
         </li>
        <% end %>
    </ul>
</body>
</html>