<!DOCTYPEhtml>
<html>
  <title>New recipe</title>
  <head>
    <h1>Create Your New Recipe!<h1>
  </head>
  <body>
    <form method="POST" action="/recipes">
      <label for "name">Name:</label>
      <input type="text" id="name" name="name" placeholder="The Delicious Dish">
    </br>
      <label for "ingredients">ingredients:</label>
      <input type="text" id="ingredients" name="ingredients" placeholder="lettuce, bacon, tomato">
    </br>
      <label for "cook_time">Cooking Time:</label>
      <input type="text" id="cook_time" name="cook_time" placeholder="300 degrees for 30 minutes">
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
