<h1>Create a new recipe:</h1>

<form method="POST" action="/recipes">
    <p>
        Name: <input id="name" type="text" name="name"><br>
        Ingredients: <textarea id="ingredients" name="ingredients"></textarea><br>
        Time: <input id="cook_time" type="text" name="cook_time"><br>
        <input id="Submit" type="submit"><br>
    </p>
</form>